services:
  billumy:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: billumy
    ports:
      - "11414:11414"
    restart: always
    environment:
      - OLLAMA_HOST=0.0.0.0:11414