name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login Cloudflare
        run: |
          echo "${{ secrets.CLOUDFLARE_API_TOKEN }}" > ~/.cloudflare_token

      # Exemplo: validar autenticação (opcional)
      - name: Test Cloudflare Auth
        run: |
          curl -X GET "https://api.cloudflare.com/client/v4/user/tokens/verify" \
            -H "Authorization: Bearer $(cat ~/.cloudflare_token)" \
            -H "Content-Type: application/json"

      - name: Deploy application via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.VM_IP }}
          username: ${{ secrets.VM_USER }}
          password: ${{ secrets.VM_PASSKEY }}
          port: 22
          script: |
            cd ${{ secrets.VM_PWD }}

            git checkout .
            git pull origin main -f

            docker compose up --build -d

            sudo systemctl restart nginx
